:root {
    --bodyBg: #fff;
}

body {
    background-color: var(--bodyBg);
}

.dot-holder {
    display: flex;
    justify-content: space-evenly;
}

.theme-dot {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid grey;
}

.theme-dot:hover {
    border-width: 0.4rem;
    transition: 0.4s;
}

#light-theme {
    background-color: aliceblue;
}
#blue-theme {
    background-color: rgb(43, 93, 208);
}
#red-theme {
    background-color: rgb(207, 88, 24);
}
#pink-theme {
    background-color: rgb(127, 21, 129);
}